
# Node modules files

server/node_modules

client/node_modules

reference

server/dataEntry

server/dataEntry/final_data.json
server/dataEntry/formatted_places_with_sentiment.json
server/dataEntry/unique__categories.json

